@model Lab2.Models.Lens

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lens</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aperture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aperture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min_focal_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min_focal_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max_focal_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_focal_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mounting_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mounting_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
