@model IEnumerable<Lab2.Models.Lens>

@{
    ViewData["Title"] = "Lenses";
}

<h1>Lenses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aperture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_focal_length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max_focal_length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mounting_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aperture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_focal_length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Max_focal_length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mounting_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
