@model IEnumerable<DDB_CW.Models.Row>

@{
    ViewData["Title"] = "Rows";
}

<h1>Rows</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mnemonic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var str = item.Hall != null ? item.Hall.Name : "null";
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mnemonic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => str)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
